{% extends 'base.html' %}

{% block container %}

{% include 'partials/header.html' %}

<!--Main layout-->
<main class="mt-5 pt-5">
    <div class="container">
        {% if form.errors %}
            <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
        {% endif %}
        <!--Section: Post-->
        <section class="row no-gutters mt-4">
            <div class="col-md-6">
                <!-- Card -->
                <div class="card card-image login-card-image">

                    <!-- Content -->
                    <div class="card-body text-white text-center d-flex align-items-center rgba-black-strong py-2 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Fairytale</h5>
                            <h3 class="card-title pt-2"><strong>Story taller can login here..!</strong></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                                Odit sed qui, dolorum!.</p>
                            <a class="btn btn-pink"><i class="fas fa-clone left"></i> View stories</a>
                        </div>
                    </div>

                </div>
                <!-- Card -->
            </div>
            <!--Grid col-->
            <div class="col-sm-12 col-md-6">

                {% include 'partials/login-form-with-card.html' %}
                
            </div>
            <!--Grid row-->

        </section>
        <!--Section: Post-->

    </div>
</main>
<!--Main layout-->
{% endblock container %}